/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

/* pre {
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
} */

p {
    color: #555;
}

.podium {
    border: 3px dashed;
    padding: 15px;
    margin: 15px;
    width: min-content;
}

.metric {
    font-weight: bold;
    padding: 15px;
    margin: 15px;
}

.match {
    padding: 15px;
    margin: 15px;
}

.data-tooltip {
    outline: none;
    position: relative;
}

.data-tooltip .data-tooltip-content {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.data-tooltip:hover .data-tooltip-content {
    z-index: 99;
    visibility: visible;
    width: max-content;
}